<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant</title>
</head>

<body>
    
                <form>
                    <label for="Price">Choose Price</label>
                    <input type="number"id="P">
                    <label for="Dish">Choose Dish</label>
                    <input type="text" id="D">
                    <label for="Table">Choose Table</label>
                    <select id="T">
                        <option value="table1">Table 1</option>
                        <option value="table2">Table 2</option>
                        <option value="table3">Table 3</option>
                        
                    </select>
                    <button id = "btn" type="submit">Add to bill</button>
                </form>
                <h1>Orders</h1>
                <ul id="t1">Table 1</ul>
                <ul id="t2">Table 2</ul>
                <ul id="t3">Table 3</ul>
            
        
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
</body>

</html>